p {
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
}

.myRepoDiv {
  width: 40%;
  border: 3px solid red;
  margin-top: 60px;
  margin-right: 10px;
  margin-left: 10px;
}

header {
  background-color: darkcyan;
  width: 100%;
  border: 3px solid red;
  height: 2vh;
  float: right;
}

.sectionDiv {
  background-color: blue;
  border: 3px solid red;
  width: 80%;
  height: 4vh;
  margin: auto;
  padding: auto;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
select {
  position: absolute;
  margin-left: 550px;

  margin-top: -400px;
}

.myContributorsDiv {
  display: flex;
  flex-direction: row;
  border: 3px solid blue;
  width: 40%;
  float: right;
  margin-top: -330px;
  height: 63vh;
}

.propertyHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* border:3px solid red; */
}
.propertyHolder a {
  margin: 0 0 0 2rem;
  flex: 1;
  flex-wrap: nowrap;
}

.propertyHolder img {
  width: 50px;
  flex: 1;
  margin-top: 30px;
  margin-left: -60px;
}

.pContributions {
  /*count of contributions*/
  justify-content: flex-end;
  color: white;
  background-color: gray;
  text-align: center;
  font-weight: bold;
  flex-wrap: nowrap;
  margin-left: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8rem;
  color: white;
  background-color: blue;
  z-index: -1;
}

.myFooter {
  padding: 10px;
}

button {
  border: 3px solid blue;
  background-color: rgb(149, 149, 238);
  margin-left: 10px;
  margin-top: 5px;
}

button:hover {
  background-color: red;
}
